<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <img src="../../../../assets/images/catLogo.png" width="50" height="50" style="margin-right: 20px; margin-left: 20px;" class="d-inline-block align-top" alt="">
      <a class="navbar-brand" routerLink="/home">Meow<span class="text-warning">APP</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </header>